dist/components/components/block-slide/block-slide.html

<block class="slider" style="background-image: url(/images/SLIDER/img_slider.jpg);background-size: cover;background-position: center;">
  <div class="slider__container">
    <div class="slider__container--item">
      <p>El futuro de tu negocio en buenas manos</p>
      <p>Una compañía del Grupo VASS</p>
    </div>
    <div class="slider__container--item">
      <p>Página 2</p>
    </div>
    <div class="slider__container--item">
      <p>Página 3</p>
    </div>
    <div class="slider__container--item">
      <p>Página 4</p>
    </div>
    <div class="slider__container--item">
      <p>Página 5</p>
    </div>
  </div>
  <button class="slider__prev-arrow"><img src="/images/SLIDER/flecha_izq/flecha_izq.svg" alt="Flecha izquierda"/></button>
  <button class="slider__next-arrow"><img src="/images/SLIDER/flecha_drcha/Flecha_drcha@3x.svg" alt="Flecha derecha"/></button>
  <div class="slider__pagination"> <span class="slider__pagination--item white_background"></span><span class="slider__pagination--item"></span><span class="slider__pagination--item"></span><span class="slider__pagination--item"></span><span class="slider__pagination--item"></span></div>
</block>

src/components/block-slide/block-slide.pug
include ../../base/pug/variables.pug

block.slider(style=background_image(slider_image))
    .slider__container
        .slider__container--item
            p El futuro de tu negocio en buenas manos
            p Una compañía del Grupo VASS
        .slider__container--item
            p Página 2
        .slider__container--item
            p Página 3
        .slider__container--item
            p Página 4
        .slider__container--item
            p Página 5
    button.slider__prev-arrow
        img(src=arrow_left alt="Flecha izquierda")
    button.slider__next-arrow
        img(src=arrow_right alt="Flecha derecha")
    .slider__pagination 
        span.slider__pagination--item.white_background
        span.slider__pagination--item
        span.slider__pagination--item
        span.slider__pagination--item
        span.slider__pagination--item
