src/base/partials/header/header.pug
include ../../pug/variables.pug

header
    .logo
        img(src=logo_header alt="Logo Nateevo")
    ul.menu
        li Opción 1
        li Opción 2
        li Opción 3
        li Opción 4
        li.menu__options Opción 5
            img(src=arrow_down alt="Arrow down")
            .menu__submenu 
                .menu__submenu--triangle
                .menu__submenu--triangle-shadow
                ul
                    li Submenú Opción 1
                    li Submenú Opción 2
                    li Submenú Opción 3
    .languages 
        button.languages__button.languages__selected ES
        button.languages__button EN
    .hamburger 
        img(src=hamburger_icon alt="Hamburger menu")

dist/components/partials/header/header.html

<header>
  <div class="logo"><img src="/images/HEADER/logo_nateevo.svg" alt="Logo Nateevo"/></div>
  <ul class="menu">
    <li>Opción 1</li>
    <li>Opción 2</li>
    <li>Opción 3</li>
    <li>Opción 4</li>
    <li class="menu__options">Opción 5<img src="/images/HEADER/opciones_menu/flecha_menu.svg" alt="Arrow down"/>
      <div class="menu__submenu"> 
        <div class="menu__submenu--triangle"></div>
        <div class="menu__submenu--triangle-shadow"></div>
        <ul>
          <li>Submenú Opción 1</li>
          <li>Submenú Opción 2</li>
          <li>Submenú Opción 3</li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="languages"> 
    <button class="languages__button languages__selected">ES</button>
    <button class="languages__button">EN</button>
  </div>
  <div class="hamburger"> <img src="/images/HEADER/hamburger.svg" alt="Hamburger menu"/></div>
</header>
