src/components/block-news/block-news.pug
block.news 
    .news__intro
        h1 Noticias
        h2 Lorem ipsum dolor sit amet
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium venenatis fermentum. Maecenas vitae condimentum sapien. Nunc auctor ac arcu sed efficitur. 

    .news__cards 
        .news__cards--left
            .news__cards--left--text
                p Así de fácil. Así de sencillo 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie at lectus et blandit. Integer id lacinia nulla nec finibus nisi tristique in ex.
        .news__cards--right
            img(src=second_news_image)
            .news__cards--right--text
                p 
                    img(src=second_news_clock_icon)
                    span 14 Noviembre 
                h2 Creamos experiencias únicas para hacear crecer tu negocio 
                p#text-to-hide Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi molestie at lectus et blandit. Integer id lacinia nulla.
                button#read-more Leer más 

dist/components/components/block-news/block-news.html

<block class="news"> 
  <div class="news__intro">
    <h1>Noticias</h1>
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium venenatis fermentum. Maecenas vitae condimentum sapien. Nunc auctor ac arcu sed efficitur. </p>
  </div>
  <div class="news__cards"> 
    <div class="news__cards--left">
      <div class="news__cards--left--text">
        <p>Así de fácil. Así de sencillo </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie at lectus et blandit. Integer id lacinia nulla nec finibus nisi tristique in ex.</p>
      </div>
    </div>
    <div class="news__cards--right"><img/>
      <div class="news__cards--right--text">
        <p> <img/><span>14 Noviembre </span></p>
        <h2>Creamos experiencias únicas para hacear crecer tu negocio </h2>
        <p id="text-to-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi molestie at lectus et blandit. Integer id lacinia nulla.</p>
        <button id="read-more">Leer más </button>
      </div>
    </div>
  </div>
</block>
